a {
	text-decoration: none;
}
#photo {
	width: 180px;
	margin-right: 25px;
}
.information_left {
	width: 180px;
	background-color: #313038;
	color: white;
	float: left;
	padding-top: 20px;

}

.information_right {
	height: 100%;
	max-width: 700px;
	width: auto;
	float: left;
}
.information_left h2 {
	margin-top: 0px;
	margin-bottom: -7px;
}
ul {
	margin-left: -20px;
}
.contact {
	width: 40px;
}
#head {
	background-color: #d7d7d7;
	height: 282px;
	padding-left: 10px;
}
.bold {
	font-weight: bold;
}
.education {
	padding-left: 10px;
}
body {
	background-color: #dfdfe1;
	min-width: 820px;
}


